.btn {
  width: 180px;
}
h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: red;
}
.row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

textarea.form-input {
  height: 150px;
  width: 100%;
}
label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bolder;
}
