.list-content {
  margin-top: 20px;
}
.list-content .list-group .title {
  background: #5bc0de;
  border: 2px solid #dddddd;
  font-weight: bold;
  color: #ffffff;
}
.jumbotron .btn {
  padding: 5px 40px !important;
  font-size: 12px !important;
}

.li-roles {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.role-name {
  padding-right: 120px;
}
.role-price {
  padding-right: 100px;
}
